<% layout("/layouts/boilerplate.ejs") %>
<body>
   <h3>fill edits</h3>
   <form method="POST" action="/listing/<%= listing1.id %>?_method=PUT">
      <input type="text" value="<%= listing1.title %>" name="listing[title]"><br><br>
      <textarea type="text" placeholder="<%= listing1.description %>" name="listing[description]"></textarea><br><br>
      <input type="text" value="<%= listing1.img %>" name="listing[img]"><br><br>
      <input type="number" value="<%= listing1.price %>" name="listing[price]"><br><br>
      <input type="text" value="<%= listing1.country %>" name="listing[country]"><br><br>
      <input type="text" value="<%= listing1.location %>" name="listing[location]"><br><br>
      <button type="submit">save data</button>
   </form>
</body>