<% layout("/layouts/boilerplate.ejs") %>

   <style>
      #filters{
         display: flex;
         flex-wrap: wrap;
      }

      .filters{
         text-align: center;
         margin-right: 2rem;
         margin-top: 2rem;
         opacity: 0.7;
      }

      .filters:hover{
         opacity: 1;
         cursor: pointer;
      }
   </style>
   <body>
      <div id="filters">
         <div class="filters">
            <div><i class="fa-solid fa-fire"></i></div>
            <p>Trending</p>
         </div>
         <div class="filters">
            <div><i class="fa-solid fa-umbrella-beach"></i></div>
            <p>Sea side</p>
         </div>
         <div class="filters">
            <div><i class="fa-solid fa-seedling"></i></div>
            <p>Farms</p>
         </div>
         <div class="filters">
            <div><i class="fa-solid fa-snowflake"></i></div>
            <p>Arctic</p>
         </div>
         <div class="filters">
            <div><i class="fa-solid fa-bed"></i></div>
            <p>Rooms</p>
         </div>
         <div class="filters">
            <div><i class="fa-solid fa-mountain"></i></div>
            <p>Mountains</p>
         </div>
         <div class="filters">
            <div><i class="fa-brands fa-fort-awesome"></i></div>
            <p>Castles</p>
         </div>
         <div class="filters">
            <div><i class="fa-solid fa-person-swimming"></i></div>
            <p>Pools</p>
         </div>
         <div class="filters">
            <div><i class="fa-solid fa-fire"></i></div>
            <p>Trending</p>
         </div>
         <div class="filters">
            <div><i class="fa-solid fa-umbrella-beach"></i></div>
            <p>Sea side</p>
         </div>
         <div class="filters">
            <div><i class="fa-solid fa-seedling"></i></div>
            <p>Farms</p>
         </div>
         <div class="filters">
            <div><i class="fa-solid fa-snowflake"></i></div>
            <p>Arctic</p>
         </div>
         <div class="filters">
            <div><i class="fa-solid fa-bed"></i></div>
            <p>Rooms</p>
         </div>
         <div class="filters">
            <div><i class="fa-solid fa-mountain"></i></div>
            <p>Mountains</p>
         </div>
      </div>
      <div class="row row-lg-4 row-md-3 row-md-2 mt-3">
         <% for(let listing of allListings){ %>

            <div class="card" style="width: 20rem;">
               <a href="/listing/<%= listing._id %>">
               <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 20rem;">
               <div class="card-img-overlay"> <%= listing.title %></div>
               <div class="card-body">
                  <p class="card-text">
                     <b>
                        <%= listing.title %>
                     </b><br>
                     &#8377; <%= listing.price.toLocaleString("en-IN") %>
                  </p>
               </div>
               </a>
            </div>

            <% } %>
      </div>
   </body>